# PrimeEstate PostgreSQL
# Gerçek değerleri GitHub'a koyma. Render Environment Variables içinde sakla.
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# Better Auth
BETTER_AUTH_SECRET="replace-with-a-random-32-plus-character-secret"
BETTER_AUTH_URL="http://localhost:3000"
